html {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

body {
	width: 100%;
	height: 100%;
}

html,
body {
	margin: 0;
	padding-top: 0.5em;
}

.underline-text {
	text-decoration: underline;
}

.control,
summary {
	margin-top: 0.4em;
	margin-right: 0.2em;
	padding: 0.2em;
	border: 0.2em solid;
	border-radius: 20em;
	height: 100%;
}

summary,
a,
label,
#id,
.chatButtons {
	cursor: pointer;
}

#to {
	border: 0px;
	background-color: #00000000;
	width: 50%;
}

details {
	display: block;
	margin-top: 0.2em;
	width: 75%;
	margin-top: 0.8em;
}

.sendBar {
	overflow: hidden;
}

.message,
.sendBar {
	width: 75%;
	margin-left: 5%;
}

.message,
.sendBar,
.chatButtons {
	display: block;
	border: 0.2em solid;
	margin-top: 0.2em;
}

.chatButtons {
	flex: 1;
	margin-right: 0.2em;
}

.chatButtonsContainer {
	display: flex;
	padding-right: 10%;
	margin-left: 5%;
}

.sent,
.received,
.typing {
	--r: 1em;
	--t: 1em;
	padding: calc(2*var(--r)/3);
	-webkit-mask:
		radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
		conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
		radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
	mask: 
		radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
		conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
		radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
}

.typing,
.sentReply,
.receivedReply,
.sent,
.received {
	padding: 1em;
	border-radius: 1em;
	width: 50%;
	margin: 0.5em;
}

.sentReply,
.receivedReply {
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.sentReply:has(.sentReply),
.receivedReply:has(.sentReply),
.sent:has(.sentReply),
.received:has(.sentReply),
.sentReply:has(.receivedReply),
.receivedReply:has(.receivedReply),
.sent:has(.receivedReply),
.received:has(.receivedReply) {
	padding-top: 0;
	margin-top: 0;
}

.receivedReply {
	text-align: left;
}

.sentReply {
	text-align: right;
}

.received,
.typing {
	--_d: 0%;
	margin-right: var(--t);
	place-self: start;
	text-align: left;
	margin-right: 40%;
}

.sent {
	--_d: 100%;
	margin-left: var(--t);
	place-self: end;
	text-align: right;
	margin-left: 40%;
}

.context-menu {
	display: none;
	position: absolute;
	text-align: center;
	border: 0.2em solid;
	border-radius: 2em;
	padding: 0;
	z-index: 1;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 5px;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
	}

	label {
		color: black;
	}

	.control,
	input,
	textarea:disabled,
	.message,
	.sendBar,
	.chatButtons,
	.context-menu,
	summary {
		color: black;
		border-color: gray;
		background-color: lightgray;
	}

	.received,
	.typing {
		border-left: var(--t) solid #dddddd;
		background-color: #dddddd;
	}

	.sent {
		border-right: var(--t) solid #0074d9;
		background-color: #0074d9;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	label {
		color: white;
	}

	.control,
	input,
	textarea:disabled,
	.message,
	.sendBar,
	.chatButtons,
	.context-menu,
	summary {
		color: white;
		border-color: darkgray;
		background-color: gray;
	}

	.received,
	.typing {
		border-left: var(--t) solid #dddddd;
		background-color: #dddddd;
	}

	.sent {
		border-right: var(--t) solid #0074d9;
		background-color: #0074d9;
	}
}