html {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

body {
	width: 100%;
	height: 100%;
}

html,
body {
	margin: 0;
	overflow: hidden;
	padding-top: 0.5em;
}

.underline-text {
	text-decoration: underline;
}

.control,
summary {
	margin-top: 0.4em;
	margin-right: 0.2em;
	padding: 0.2em;
	border: 0.2em solid;
	border-radius: 20em;
	height: 100%;
}

summary {
	cursor: pointer;
}

#to {
	border: 0px;
	background-color: #00000000;
	width: 50%;
}

details {
	display: block;
	margin-top: 0.2em;
	width: 75%;
	margin-top: 0.8em;
}

.message,
.sendBar,
.chatButtons {
	display: block;
	border: 0.2em solid;
	margin-top: 0.2em;
	width: 75%;
	margin-left: 5%;
}

.chatButtonsContainer {
	display: flex;
	padding-right: 10%;
}

.chatButtons {
	flex: 1;
	width: 25%;
}

p {
	margin: 0px;
}

.received,
.typing {
	text-align: left;
}

.sent {
	text-align: right;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
	}

	.control,
	input,
	label,
	textarea:disabled,
	.message,
	.sendBar,
	.chatButtons,
	summary {
		color: black;
		border-color: gray;
		background-color: lightgray;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	.control,
	input,
	label,
	textarea:disabled,
	.message,
	.sendBar,
	.chatButtons,
	summary {
		color: white;
		border-color: darkgray;
		background-color: gray;
	}
}

.context-menu { 
	position: absolute; 
	text-align: center; 
	background: lightgray; 
	border: 1px solid black; 
	list-style-type: none;
}