html {
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

body {
	width: 100%;
	height: 100%;
}

html,
body {
	margin: 0;
	overflow: hidden;
}

.underline-text {
	text-decoration: underline;
}

div {
	margin-top: 0.4em;
}

.control,
input[type='submit'] {
	margin-top: 0.4em;
	margin-right: 0.2em;
	padding: 0.2em;
	border: 0.2em solid;
	border-radius: 20em;
	height: 100%;
	width: 50%;
}

input[type='text'] {
	border: 0px;
	background-color: #00000000;
	width: 30%;
	height: 100%;
}

input[type='submit'] {
	width: 5%;
}

textarea {
	width: 100%;
}

.message {
	padding: 0.2em;
	display: block;
	border: 0.2em solid;
	margin-top: 0.2em;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
	}

	.control,
	input[type='submit'] {
		border-color: gray;
		background-color: lightgray;
		color: black;
	}

	input,
	textarea:disabled {
		color: black;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}

	.control,
	input,
	label,
	textarea:disabled,
	.message {
		color: white;
	}

	.control,
	input[type='submit'],
	.message {
		border-color: darkgray;
		background-color: gray;
	}
}
