.container {
	display: flex;
	justify-content: flex-end;
}

.sent {
	position: relative;
	background-color: #0074d9;
	color: #fff;
	border-radius: 10px;
	max-width: 70%;
}

.sent::before {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-left: 7px solid #0074d9;
	transform: translate(-50%, -50%);
}